@import "reset";
@import "clearfix";

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: #0097FF;
}

.main-nav {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 100px 20px;
  font-size: 14px;
  border-right: 1px solid #eee;
  a {
    display: block;
    color: #616161;
    padding: 5px;
    &.active {
      font-weight: 600;
      color: black;
    }
  }
  a.home-link {
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.main-stream {
  padding: 100px 20px 100px 220px;
  line-height: 1.2em;

  img {
    max-width: 100%;
  }

  ol {
    list-style-type: decimal;
    padding: 1em 0 1em 1.5em;
  }

  small {
    font-size: 0.8em;
  }
}

.top-button {
  background: #F0F0F0;
  position: absolute;
  top: 0;
  left: 220px;
  padding: 10px 30px 15px;
  font-size: 40px;
  font-weight: 300;
}

.streams-container {
  padding-top: 30px;

  .stream {
    float: left;
    padding: 0 64px 64px 0;
    line-height: 1.7em;
  }

  .stream-name {
    font-color: black;
    font-size: 20px;
    border: none;
  }
  .stream-blogs {
    min-height: 50px;
    &.can-recieve {
      border: 1px dashed #616161;
    }
  }
  .blog {
    font-size: 14px;
    color: #616161;
    cursor: move;
  }
}

.messages {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.messages-info .message {
  background: #21B3E4;
  color: white;
  padding: 20px 200px;
}

