!!!5
html
  head
    title #{title} - tumblrbitch
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')

  body
    nav.main-nav
      a.home-link(href='/')
        h1 tumblrbitch

      //- != JSON.stringify(user)

      each stream in user.streams  
        a(href='/stream/' + stream.slug)= stream.name
        
    .main-stream
      block main

