!!!5
html
  head
    title #{title} - tumblrbitch
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')

  body
    nav.main-nav
      a.home-link(href='/organize')
        h1 tumblrbitch

      //- != JSON.stringify(user)

      each s in user.streams
        - var active = stream ? (stream.slug === s.slug ? 'active' : '') : '';
        a(href='/streams/' + s.slug, class=active)= s.name

    .main-stream
      block main

