extend layout
block head
  script(src="/javascripts/jquery-ui.custom.js")
  script(src="/javascripts/organize.js")


block main

  .js-new-stream.top-button +

  p Hey, #{user.username} let's organize the tumblr blogs you follow.
  ol
    li Use the [+] button to create a new stream
      small  (eg: "Mens Fashion", or "Illustration")
    li Drag blogs around to organize them


  .streams-container
    .stream(data-name="")
      .stream-name Uncategorized

      .stream-blogs
        each blog in uncategorized_blogs
          .blog(data-name=blog)= blog


    each stream in user.streams
      .stream
        input.stream-name(value=stream.name)
        .stream-blogs
          each blog in stream.blogs
            .blog(data-name=blog)= blog
    .cf

  //- != JSON.stringify(tumblr_following, null, 2)


  form(action='/streams', method='POST')
    button.js-save(type='submit') Save
