extend layout
block head
  script(src="/javascripts/jquery-ui.custom.js")
  script(src="/javascripts/organize.js")


block main
  
  .top-buttons
    .js-new-stream.top-button +
    .js-save.top-button.primary Save

  p Hey, #{user.username} let's organize the tumblr blogs you follow.
  ol
    li Use the [+] button to create a new stream
      small  (eg: "Mens Fashion", or "Illustration")
    li Drag blogs around to organize them
    li Click "Save" once you're done


  .streams-container
    .stream(data-name="")
      .stream-name Uncategorized

      .stream-blogs
        each blog in uncategorized_blogs
          .blog(data-name=blog)= blog


    each stream in user.streams
      .stream
        input.stream-name(value=stream.name)
        .stream-blogs
          each blog in stream.blogs
            .blog(data-name=blog)= blog
    .cf

  form(action='/streams', method='POST')
