extend layout
block main
    h2= stream.name

    each post in stream.posts
      if (post.type === 'photo')
        each photo in post.photos
          img(src=photo.alt_sizes[0].url)
            
    //- code
    //-   pre= JSON.stringify(stream.posts, null, 2)
